
<div class="footer-container">
  <div class="footer">
    <div class="oursite">
      <h3>
        Follow us on
        <a href="https://telegram.me/garudalinux" data-toggle="tooltip" title="Telegram" rel="noopener noreferrer" target="_blank" class="fa fa-telegram"> </a>
        <a href="https://twitter.com/garudalinux" data-toggle="tooltip" title="Twitter" rel="noopener noreferrer" target="_blank" class="fa fa-twitter"> </a>
      </h3>
      <a href="https://www.gnu.org/licenses/gpl-3.0.html">Garuda Linux, &copy; 2021, is licenced under the GNU
        GPLv3</a><br>
    </div>
    <div>
      <a id="foss-footer-logo" href="https://fosshost.org" rel="noopener noreferrer" target="_blank">
        <h4>Project Hosting Kindly Provided By <br> <span style="letter-spacing: .4rem; font-size: 1.5rem;">FOSSH<span style="color: red;">O</span>ST</span></h4>
      </a>
    </div>
  </div>
  <div class="donate-div">
    <a href="https://fosshost.org/donate" target="_blank" rel="noopener noreferrer">
      <h3>Donate to FOSSHOST</h3>
    </a>
  </div>
</div>
