<div class="team-info">
  <div id="who-are-we">
    <h3>Who Are We</h3>
  </div>
  <div class="team-grid">
    <div class=" grid-item member1">
      <div class="card">
        <div class="dp-div">
          <img src="assets/home/avatar-librewish.webp" alt="@librewish" class="dp">
        </div>
        <div class="member-name">
          <h3>
            Librewish 🇮🇳<br>(Shrinivas Kumbhar)
          </h3>
        </div>
        <div class="about">

          <p>
            Lead Founder of Garuda Linux. A full time student interested in the study of technology. From Kolhapur, Maharashtra, India. :-)
          </p>

        </div>
      </div>
    </div>

    <div class=" grid-item member1">
      <div class="card">

        <div class="dp-div">
          <img src="assets/home/avatar-sgs.webp" alt="@SGS" class="dp" style="padding-top: 8%;">
        </div>
        <div class="member-name">

          <h3>
            SGS 🇩🇪
          </h3>
        </div>
        <div class="about">

          <p>
            Founder of Garuda Linux. Loves to artistically underscore the work of the great developer team.  His Hobby is creating logos and avatars.
          </p>

        </div>
      </div>
    </div>

    <div class=" grid-item member1">
      <div class="card">
        <div class="dp-div">
          <img src="assets/home/avatar-tbg.webp" alt="@tbg" class="dp">

        </div>
        <div class="member-name">
          <h3>
            tbg 🇨🇦
          </h3>
        </div>
        <div class="about">


          <p>
            A long time Linux user from the West Coast of Canada.

          </p>

        </div>
      </div>
    </div>

    <div class=" grid-item member1">
      <div class="card">
        <div class="dp-div">
          <img src="assets/home/avatar-nico.webp" alt="@Nico" class="dp">
        </div>
        <div class="member-name">
          <h3>
            dr460nf1r3 (Nico) 🇩🇪
          </h3>
        </div>
        <div class="about">


          <p>
            A Linux enthusiast from Germany who mainly maintains the servers & dr460nized edition. Find out more <a href="https://dr460nf1r3.me/about-me" title="Enter the dragons lair!" target="_blank">here</a>
          </p>

        </div>
      </div>
    </div>

    <div class=" grid-item member1">
      <div class="card">
        <div class="dp-div">
          <img src="assets/home/avatar-Yorper.webp" alt="@Yorper" class="dp">

        </div>
        <div class="member-name">
          <h3>
            Yorper 🇦🇺
          </h3>
        </div>
        <div class="about">


          <p>
            An IT professional from Australia, Linux user & enthusiast since the late 90s. Maintains the Xfce edition of Garuda Linux.
          </p>

        </div>
      </div>
    </div>

    <div class=" grid-item member1">
      <div class="card">
        <div class="dp-div">
          <img src="assets/home/avatar-naman.webp" alt="@Naman" class="dp" style="padding-top: 8%;">

        </div>
        <div class="member-name">
          <h3>
            Naman Garg 🇮🇳
          </h3>
        </div>
        <div class="about">

          <p>
            Young web developer from Kaithal, Haryana, India who maintains the website.

          </p>
        </div>
      </div>
    </div>

    <div class=" grid-item member1">
      <div class="card">
        <div class="dp-div">
          <img src="assets/home/avatar-rohit.webp" alt="@Rohit" class="dp" style="padding-top: 8%;">

        </div>

        <div class="member-name">
          <h3>
            Rohit 🇮🇳
          </h3>
        </div>
        <div class="about">
          <p>
            A FOSS enthusiast, likes to experiment with linux desktop and maintains Qtile version.

          </p>

        </div>
      </div>
    </div>

    <div class=" grid-item member1">
      <div class="card">
        <div class="dp-div">
          <img src="assets/home/avatar-tne.webp" alt="@TNE" class="dp">

        </div>

        <div class="member-name">
          <h3>
            TNE 🇦🇹
          </h3>
        </div>
        <div class="about">

          <p>
            Developer from Austria, with exceptional C and Javascript skills. Maintains servers and Garuda tools.

          </p>
        </div>
      </div>
    </div>
  </div>
<hr style="margin-top: 5%; border-top: none; border-bottom: 1px solid rgb(105, 102, 102);">
</div>
