<div class="sidenav">
  <div class="sidelinks sidedwn">
    <a routerLink="/downloads">
      <p class="hidden">Download</p><i class="fa fa-download"></i>
    </a>
  </div>
  <div class="sidegit sidelinks">
    <a href="https://gitlab.com/groups/garuda-linux/" rel="noopener noreferrer" target="_blank">
      <p class="hidden">Gitlab</p><i class="fa fa-gitlab"></i>
    </a>
  </div>
  <div class="sidelinks sidetele">
    <a href="https://telegram.me/garudalinux" data-toggle="tooltip" title="Telegram" rel="noopener noreferrer" target="_blank">
      <p class="hidden">Telegram</p><i class="fa fa-telegram"></i>
    </a>
  </div>
  <div class="sidelinks sidetwit">
    <a href="https://twitter.com/garudalinux" data-toggle="tooltip" title="Twitter" rel="noopener noreferrer" target="_blank">
      <p class="hidden">Twitter</p><i class="fa fa-twitter"></i>
    </a>
  </div>
  <div class="sidelinks sidefb">
    <a href="https://www.facebook.com/garudalinux.org" data-toggle="tooltip" title="Facebook" rel="noopener noreferrer" target="_blank">
      <p class="hidden">Facebook</p><i class="fa fa-facebook-f"></i>
    </a>
  </div>
</div>
