@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');

html,
body {
  background-color: black;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  line-height: 1.75rem;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

.Shree {
  margin-left: 0;
  width: 100%;
  background-color: black;
  color: white;
}

.blur{
  backdrop-filter: blur(10px);
}
