
<div class="cover">
  <div class="cover_text">
    <h5>
      Welcome To
    </h5>
    <h1>
      <strong>
        Garuda Linux
      </strong>
    </h1>
    <h4>
      Choose your desktop environment:<br> KDE, Xfce, GNOME, LXQt-kwin, Wayfire, Qtile, BSPWM, i3wm and Sway.
    </h4>
    <button class="button" onclick="location.href='/downloads.html';">
      <span>Download</span>
    </button>

  </div>

</div>

<div class="translate">
    <div id="google_translate_element" style="display: inline;"></div>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>

<!-- ------------------------------- End Of Cover --------------------------- -->
<div class="spotlights">
  <h1>Special Spotlights</h1>
  <div class="scards">
    <h2>Easy Installation</h2>
    <div class="flex-div">
      <div>
        <img id="backgroundImage" src="assets/ss/calamares.webp" alt="Calamares">

      </div>
      <div>
        <p>We make the install process simple by using the Calamares installer, which is both fast and easy to use.</p>

      </div>
    </div>
  </div>
  <div class="scards">
    <h2>Unleash the beauty</h2>
    <div class="flex-div">
      <div>
        <img src="assets/ss/neofetch.webp" alt="Screenshot">

      </div>
      <div>
        <p>With handpicked desktop themes, appealing shell look, and beautiful blur effects out of the box, Garuda Linux never lets you down.</p>
      </div>
    </div>
  </div>

  <div class="scards">
    <h2>BTRFS as the default filesystem with zstd compression.</h2>
    <div class="flex-div">
      <div>
        <img src="assets/ss/Btrfs_logo.webp" width="690" style="margin:5%;" alt="BTRFS">

      </div>
      <div>
        <p>BTRFS is a modern, Copy-on-Write (CoW) filesystem for Linux, aimed at implementing advanced features while also focusing on fault tolerance, repair, and easy administration.</p>
      </div>
    </div>
  </div>

  <div class="scards">
    <h2>Automatic snapshots out of the box using Timeshift</h2>
    <div class="flex-div">
      <div>
        <img src="assets/ss/timeshift.webp" alt="Timeshift">
      </div>
      <div>
        <p style="display: list-item; list-style-type: circle; list-style-position: inside;">You can access 5 recent snapshots directly from GRUB </p>
        <p>While being a rolling release distro, our goal is to ensure that your system will not be left in an unbootable state after a problematic update. Thus, we use the BTRFS filesystem integrated with Timeshift, which employs an automatic
          snapshot feature, backing up the system configuration before each update.*
        </p>
      </div>
    </div>
  </div>

  <div class="scards">
    <h2>GUI for package management (Pamac)</h2>
    <div class="flex-div">
      <div>
        <img src="assets/ss/pamac.webp" alt="Pamac">

      </div>
    </div>
  </div>

  <div class="scards">
    <h2>GUI for managing drivers and kernels (Garuda Settings Manager)</h2>
    <div class="flex-div">
      <div>
        <img src="assets/ss/garuda-settings-manager.webp" alt="Garuda Settings Manager">

      </div>
    </div>
  </div>

  <!-- <div class="scards">
      <h2>Gui solution for GPU switching on Optimus laptops (Optimus Manager).</h2>
      <img src="assets/ss/optimus-manager.webp" alt="optimus-manager">
      <p>Garuda Linux strives hard to provide better out of the box support for various drivers.</p>
      <p>For proprietary Nvidia driver support: select the 'driver=nonfree' GRUB option at startup.</p>
  </div> -->

  <div class="scards">
    <h2>GUI tool for various common tasks (Garuda Assistant)</h2>
    <div class="flex-div">
      <div>
        <img src="assets/ss/garuda-assistant.webp" alt="Garuda Assistant">
      </div>
    </div>
  </div>

  <div class="scards">
    <h2>GUI for GRUB boot options (Garuda Boot Options)</h2>
    <div class="flex-div">
      <div>
        <img src="assets/ss/garuda-boot-options.webp" alt="Garuda Boot Options">

      </div>
    </div>
  </div>

  <div class="scards">
    <h2>GUI for network assistance & hotspot creation (Garuda Network Assistant)</h2>
    <div class="flex-div">
      <div>
        <img src="assets/ss/garuda-network-manager.webp" alt="Garuda Network Assistant">

      </div>
    </div>
  </div>

  <div class="scards">
    <h2>GUI for installing curated gaming software (Garuda Gamer)</h2>
    <div class="flex-div">
      <div>
        <img src="assets/ss/garuda-gamer.webp" alt="Garuda Gamer">

      </div>
    </div>
  </div>


</div>

<!-- ------------------------------- End WHY USE GARUDA --------------------------- -->

<!-- ---------------------------- Start of Features ------------------------------  -->

<div class="main-grid-div">
  <h1>Features</h1>
  <div class="grid-container1">

    <div class="grid-items">
      <h4>Rolling Release</h4>
      <p>Garuda Linux is a rolling release distro based on Arch Linux, which ensures always getting the latest software updates.</p>
      <p>We only use one extra repo on top of Arch Linux repos, placing us very close to Arch Linux without having to install the system with CLI.</p>
    </div>
    <div class="grid-items">
      <h4>Linux-zen</h4>
      <p>A faster, more-responsive Linux kernel optimized for desktop, multimedia, and gaming.</p>
      <p>Result of a collaborative effort of kernel hackers to provide the best Linux kernel possible for everyday systems.
      </p>
    </div>

    <div class="grid-items">
      <h4>Ease of Use</h4>
      <p>We use micro as the default, terminal-based text editor that aims to be easy to use and intuitive, while taking advantage of the capabilities of modern terminals.</p>
      <p>Garuda Linux offers you various GUI tools for managing system settings out of the box to make your jumpstart easier.
      </p>
    </div>
    <div class="grid-items">
      <h4>Always Free</h4>
      <p>Garuda Linux will always be completely free. We create it to have a Linux-based operating system that is easy to use.</p>
    </div>
  </div>
  <div class="grid-container2">
    <div class="grid-items2">
      <h4>Focus on Performance</h4>

      <p>Our goal is to provide a distro that focuses only on performance while making it beautiful. Thats why we made some (sane) performance tweaks.</p>

      <table class="item-table" style="width: 100%;">
        <tr>
          <td>1. Improved I/O performance.
          </td>
          <td></td>
        </tr>
        <tr>
          <td>2. CPU scheduler set to performance - optional: install power-saving tweaks.</td>
          <td> <button onclick="location.href='https://github.com/AdnanHodzic/auto-cpufreq'">Read More</button> </td>
        </tr>
        <tr>
          <td>3. ZRAM enabled by default.</td>
          <td> <button onclick="location.href='https://github.com/Nefelim4ag/systemd-swap'">Read More</button> </td>
        </tr>
        <tr>
          <td>4. Nohang, an OOM prevention daemon.
          </td>
          <td> <button onclick="location.href='https://github.com/hakavlad/nohang'">Read More</button> </td>
        </tr>
        <tr>
          <td>5. As well as Ananicy, which automatically sets nice levels on your system.</td>
          <td> <button onclick="location.href='https://github.com/Nefelim4ag/Ananicy'">Read More</button> </td>
        </tr>
      </table>



    </div>
  </div>

  <h6 style="margin-left:2rem;
        margin-top: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 2px solid rgba(100,100,100,0.5);
        border-bottom: 2px solid rgba(100,100,100,0.5);

        ">
    *Garuda Linux does not imply that Timeshift and BTRFS are a full backup solution. If you wish to ensure your data's security you must implement your own full data backup regimen. Garuda is not responsible in any way or manner if a data loss occurs. The
    user is solely responsible for ensuring the safety of their own data. Likewise, Garuda cannot guarantee that Timeshift can recover your system to a functional state in the event of a serious system breakage.</h6>
</div>
