.cover {
  text-align     : center;
  min-height     : 85vh;
  margin-top     : 0.1rem;
  width          : 98.9vw;
  margin-left    : auto;
  margin-right   : auto;
  padding-left   : 0 !important;
  background     : url("src/assets/bg/garuda.webp") no-repeat center center/cover;
  display        : flex;
  flex-direction : column;
  justify-content: flex-end;
}

.cover_text {
  text-align      : center;
  min-height      : 35vh;
  vertical-align  : bottom;
  background-color: rgba(50, 50, 50, 0.3);
  backdrop-filter : blur(10px);
  padding-left    : 2rem;
}

.cover_text h1 {
  margin-top   : 1vh;
  margin-bottom: 2vh;
  font-size    : 2.5rem;
  font-weight  : 900;
  animation    : letter 2s 1;
}

.cover_text a {
  text-decoration: none;
  color          : white;
  font-size      : 1.75rem;
  display        : inline-block;
  margin         : 0.5rem 0.3rem;
}

.cover_text {
  text-align: center;
  min-height: 35vh;
  vertical-align: bottom;
  background-color: rgba(50, 50, 50, 0.3);
  backdrop-filter: blur(10px);
  padding-left: 2rem;
  font-size: .9rem;
}

.cover_text h1 {
  margin-top: 1vh;
  margin-bottom: 2vh;
  font-weight: 700;
  font-size: 1.8rem;
  animation: rolldown 2s 1;
}

.cover_text a {
  text-decoration: none;
  color: white;
  font-size: 1.75rem;
  display: inline-block;
  margin: 0.5rem 0.3rem;
}


/* =======================download button============== */

.button {
  border-radius   : .5rem;
  background-color: rgba(31, 30, 30, 0.3);
  border          : none;
  color           : #FFFFFF;
  text-align      : center;
  font-size       : 1rem;
  padding         : 1%;
  width           : 20%;
  transition      : all 0.5s;
  cursor          : pointer;
  margin          : 2%;
  outline         : none;
}

.button span {
  cursor    : pointer;
  display   : inline-block;
  position  : relative;
  transition: 0.5s;
}

.button span:after {
  content   : '\00bb';
  position  : absolute;
  opacity   : 0;
  top       : 0;
  right     : -5%;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 10%;
}

.button:hover span:after {
  opacity: 1;
  right  : 0;
}


/* ------------------------- End of Cover ----------------------------- */


/* =================================Start of Features========================================= */

.main-grid-div h1 {
  text-align : center;
  padding-top: 5%;
}

.grid-container1 {
  display              : grid;
  grid-template-columns: auto auto;
  margin-top           : 5%;
}

.grid-items {
  text-align   : center;
  box-shadow   : -1.75px -1.75px 10px 0 palevioletred, 2px 2px 10px 0 rgb(55, 55, 235);
  margin       : 5%;
  padding      : 5%;
  border-radius: 10px;
}

.main-grid-div button {
  box-shadow        : -1.75px -1.75px 4px 0.75px palevioletred, 2px 2px 5px 1px rgb(55, 55, 235);
  border-image      : linear-gradient(to bottom right, palevioletred, rgb(55, 55, 235)) 1;
  background-color  : black;
  color             : white;
  border-radius     : .5rem;
  padding           : 2%;
  border            : none;
}

.main-grid-div button:hover {
  box-shadow: -2px -2px 10px 1px palevioletred, 2px 2px 10px 1px rgb(55, 55, 235);
  cursor    : pointer;
  outline   : none;
}

.grid-container2 {
  display              : grid;
  grid-template-columns: auto;
}

.grid-items2 {
  text-align   : center;
  box-shadow   : -1.75px -1.75px 10px 0 palevioletred, 2px 2px 10px 0 rgb(55, 55, 235);
  padding      : 2% 10% 2% 10%;
  margin       : 0 15% 0 15%;
  border-radius: 10px;
}

.item-table tr {
  text-align: left;
  height    : 4rem;
  padding   : 10rem;
}

.item-table button {
  padding    : 8%;
  width      : 5rem;
  margin-left: 1rem;
}


/* .item-table li{
  list-style-type:decimal;
} */


/* =================================End of Features========================================= */


/* ------------ Special features - Scards ---------- */

.spotlights {
  margin      : 5rem 0;
  padding-left: 0 !important;
}

.scards {
  padding      : 3rem;
  font-size    : 0.9rem;
  transition   : all 1s ease;
  color        : white;
  margin       : 2.1rem;
  border-radius: 1rem;
  box-shadow   : 0 0 20px rgb(78, 77, 78);
  background   : linear-gradient(to bottom left, black, black, black, rgba(128, 0, 128, 0.472), rgba(128, 0, 128, 0.472));
}

.scards:nth-child(odd) {
  color     : white;
  background: linear-gradient(to bottom right, black, black, black, rgba(48, 94, 167, 0.5), rgba(48, 94, 167, 0.5));
}

.spotlights>h1,
.scards>h2 {
  text-align: center;
}

.scards>img {
  display         : block;
  margin          : 2rem auto;
  max-width       : 20vw;
  max-height      : 30vh;
  background-color: red;
}

.flex-div {
  display        : flex;
  justify-content: center;
  align-items    : center;
  text-align     : center;
  margin-top     : 3rem;
}

.flex-div img {
  max-width : 40vw;
  min-width : 30vw;
  filter    : drop-shadow(0px 10px 20px rgb(0, 0, 0));
  transition: all 1s;
}

.scards:hover img {
  transform: scale(1.05);
}

.flex-div div:nth-child(1) {
  flex: 0.9;
}

.flex-div div:nth-child(2) {
  flex: 0.7;
}


@media screen and (max-width:1000px) {
  .button {
    border-radius   : .5rem;
    background-color: rgba(31, 30, 30, 0.3);
    border          : none;
    color           : #FFFFFF;
    text-align      : center;
    font-size       : 1rem;
    padding         : 2%;
    width           : 30%;
    transition      : all 0.5s;
    cursor          : pointer;
    margin          : 2%;
    outline         : none;
  }

  .flex-div {
    display        : flex;
    justify-content: center;
    align-items    : center;
    text-align     : center;
    margin-top     : 3rem;
    flex-direction : column;
  }

  .flex-div img {
    max-width: 65vw;
    filter   : drop-shadow(0px 10px 20px rgb(0, 0, 0));
  }
}

@media screen and (min-width: 550px) and (max-width: 724px) {
  .cover_text {
    font-size: .9rem;
  }
  .button{
    padding: 2%;
    width: 30%;
  }
  .main-grid-div h1{
    margin-top: 10%;
  }
  .grid-container1 {
    grid-template-columns: auto;
    padding-top: 10%;
  }
  .grid-items {
    box-shadow: -1.75px -1.75px 4px 0.75px palevioletred, 2px 2px 5px 1px rgb(55, 55, 235);
    padding: 3%;
  }
  .grid-items2 {
    padding: 5% 10% 5% 10%;
    margin: 0 10% 0 10%;
  }
  .spotlights {
    margin: 1rem 0;
  }
  .flex-div{
    flex-direction: column;
  }
  .flex-div img {
    min-width: 40vw;
    max-width: 70vw;
  }
  .flex-div div:nth-child(1) {
    width: 100%;
  }
}

@media screen and (max-width: 549px) {
  .cover_text {
    font-size: .9rem;
  }
  .cover_text h1 {
    font-weight: 700;
    font-size: 1.8rem;
    animation: rolldown 2s 1;
  }
  .button {
    padding: 3%;
    width: 30%;
    margin-top: 2%;
  }
  .grid-container1 {
    grid-template-columns: auto;
    margin-top: 15%;
  }
  .main-grid-div button{
    border: none;
  }
  .grid-items2 {
    padding: 5% 10% 5% 10%;
    margin: 5% 5% 0 5%;
  }
  .item-table tr{
    font-size: .9rem;
  }
  .item-table button{
    width  : 3.5rem;
    font-size: .5rem;
    margin-left: .5rem;
  }
  .scards {
    padding: 2.5rem;
    margin: 0 0 1rem 0;
    box-shadow: 0 0 20px rgba(78, 77, 78, 0.555);
    background   : linear-gradient(to bottom, black, black, black, rgba(128, 0, 128, 0.472), rgba(128, 0, 128, 0.472), rgba(128, 0, 128, 0.472));
  }

  .scards p {
    text-align: justify;
  }

  .scards:nth-child(odd) {
    background: linear-gradient(to bottom, black, black, black, rgba(48, 94, 167, 0.5), rgba(48, 94, 167, 0.5), rgba(48, 94, 167, 0.5));
  }
  .spotlights>h1 {
    margin-bottom: 3rem;
  }

  .scards h2 {
    text-align: center;
    font-size: 1rem;
  }

  .flex-div {
    flex-direction: column;
  }

  .flex-div img {
    max-width: 70vw;
    min-width: 80vw;
    transition: all 1s ease 0.1s;
    object-fit: cover;
  }
  .flex-div div:nth-child(1) {
    width: 100%;
  }
}
